* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

#pianoRollContainer {
  width: 100%;
  padding: 10px;
}

#pianoRollContainer.mainView {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #f0f0f0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button {
  /* ... existing button styles ... */
  border-bottom: 3px solid #381815; /* A darker shade for 3D effect */
  position: relative; /* Required for the top movement on hover */
  transition: all 300ms ease; /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button:hover {
  transform: scale(1.05);
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: all 300ms ease;
}

#listPianoRoll .piano-roll-card:hover {
  background-color: rgba(21, 65, 81, 0.2);
  cursor: pointer;
}

.description {
  margin-top: 10px;
}

#pianoRollContainer.mainView > #mainPianoRoll {
  position: relative;
  width: 70%;
}

#mainPianoRoll svg {
  height: 365.6px;
  user-select: none;
  touch-action: none;
}

#listPianoRoll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

#pianoRollContainer.mainView > #listPianoRoll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  overflow-y: auto;
}

#selectionRectangle {
  fill: rgba(255, 217, 0, 0.2);
  stroke: rgb(255, 217, 0);
  stroke-width: 0.2%;
  pointer-events: none;
}

.highlightNote {
  fill: #b20f00;
}

@media (max-width: 1024px) {
  #listPianoRoll {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  #pianoRollContainer.mainView {
    flex-direction: column;
    min-height: 116vh;
  }

  #pianoRollContainer.mainView > #mainPianoRoll {
    width: 100%;
  }

  #pianoRollContainer.mainView > #listPianoRoll {
    width: 100%;
  }

  #mainPianoRoll svg {
    height: 300px;
  }

  #listPianoRoll > .piano-roll-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    gap: 10px;
  }

  #listPianoRoll .description {
    margin: 0;
    width: 80%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #944038;
  border-radius: 12px;
  transition: all 300ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71150d;
}
